#about{
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    position: relative;
    display: flex;
}

.navbar a,
.navbar a:focus {
    color:#0c223d;
}

.header{
    box-shadow: 0px 3px 10px grey;
}

#about-title{
    position: fixed;
    font-size: 45px;
}

.title ::before{
    content: "about";
    font-size: 30px;
    color: grey;
    position: absolute;
    bottom: 60px;
    opacity: 50%;
}

.title-img{
    width: 900px;
    height: 300px;
    position: fixed;
    margin-left: 20%;
    background-image: url("cheese-press.png");
    background-repeat: no-repeat;
}