#feed-title{
    position:absolute; 
    top:0px; 
    left:0px;
    color:#394758;
    margin-top:5%;
}

.navbar a,
.navbar a:focus {
    color:white;
}

#news-container{
    align-items: center;
    height: fit-content;
    margin-top: 10vh;
}

#news-feed-wrapper-container{
    margin-top: 5px;
}