#feed-title{
    position:absolute; 
    top:0px; 
    left:0px;
    color:#394758;
    margin-top:5%;
}

.navbar a,
.navbar a:focus {
    color:white;
}

#news-container{
    align-items: center;
    height: fit-content;
}

#news-feed-wrapper-container{
    margin-top: 5px;
}


.reform-some-facts{
    min-width: 1440px;
    width: 100%;
    margin-right: auto;
    height:510px;
    /* overflow-x: hidden; */
    align-items: center;
    display: flex;
    justify-content: center;
    overflow:hidden
    /* background: url("openbook.jpg") center top no-repeat; */
}