@import url('https://fonts.googleapis.com/css?family=Poppins:900i');


html, body {
    margin:0;
    padding:0; 
}

.header {
    transition: all 0.5s;
    z-index: 1001;
    transition: all 0.5s;
    color: white;
    width: 100%;
    top: 0px;
    left: 0px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    position:absolute;
    /* color: rgb(32, 37, 44); */
    text-align: center;
    white-space: nowrap;
    /* box-shadow: 0px 5px 40px rgb(96, 98, 100); */
}

.header-container{
    height: 100%;
}

/*   
#header.header-transparent {
    background: none;
} */

/* #header.header-scrolled {
    background: rgba(30, 67, 86, 0.8);
    height: 60px;
} */

.text{
    font-size: 15px;
    color:black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: left;
    position: absolute;
    left: 2%;
}

.logo{
    padding: 5px;
    margin-right:auto;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.logo a{
    /* color:black; */
    color:white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.title{
    padding: 5px;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-transform: uppercase;
    margin-left: 5%
}


.title-image{
    position: absolute;
    left:10%;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 20%;
}

.title-with-image{
    display: flex;
}

.underline{
    background: url("underline.png") center top no-repeat;
    width: 100%;
    height: 10%;
}


/* 
#header .logo h1 a,
#header .logo h1 a:hover {
    color: black(255,255,255,1.0);
    text-decoration: none;
} */

#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}
/* 
#main {
    margin-top: 80px;
} */


.navbar {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
  
.navbar ul {
    padding: 5px;
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 20px;
}

.navbar li {
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 14px;
    /* color: #7797a8; */
    color: white;
    white-space: nowrap;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    font-family: 'Poppins', sans-serif;
    /* color: rgb(29, 53, 78); */
    color:red

}

.reform-some-facts{
    width: 100%;
    margin-right: auto;
    height: 100vh;
    overflow-x: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, rgba(30, 67, 86, 0.8), rgba(30, 67, 86, 0.6)), url("openbook.jpg") center top no-repeat;
    border-radius: 0 0 25% 25%;
}

.unreformed-facts{
    position: relative;
    width: 100%;
    height: 90vh;
    overflow-x: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#hero{
    width: 100%;
    height: 90vh;
    overflow-x: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* #hero::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 130%;
    height: 95%;
    background: linear-gradient(to right, rgba(30, 67, 86, 0.8), rgba(30, 67, 86, 0.6)), url("openbook.jpg") center top no-repeat;
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) rotate(0deg);
  }
  
  #hero::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 130%;
    height: 96%;
    background: #68A4C4;
    opacity: 0.3;
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) translateY(18px) rotate(2deg);
} */



/*UNREFORMED FACTS STUFF*/




.news{
    border: 4px double;
    color: red;
    width: 100%;
    height: 75%;

}


/*CSS STUFF FOR BUTTON*/


.wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
  }
  
  .cta {
      display: flex;
      padding: 10px 45px;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-size: 40px;
      color: white;
      background: #e62525;
      transition: 1s;
      box-shadow: 6px 6px 0 black;
      transform: skewX(-15deg);
  }
  
  .cta:focus {
     outline: none; 
  }
  
  .cta:hover {
      transition: 0.5s;
      box-shadow: 10px 10px 0 #FBC638;
  }
  
  .cta span:nth-child(2) {
      transition: 0.5s;
      margin-right: 0px;
  }
  
  .cta:hover  span:nth-child(2) {
      transition: 0.5s;
      margin-right: 45px;
  }
  
    span {
      transform: skewX(15deg) 
    }
  
    span:nth-child(2) {
      width: 20px;
      margin-left: 30px;
      position: relative;
      top: 12%;
    }
    
  /**************SVG****************/
  
  path.one {
      transition: 0.4s;
      transform: translateX(-60%);
  }
  
  path.two {
      transition: 0.5s;
      transform: translateX(-30%);
  }
  
  .cta:hover path.three {
      animation: color_anim 1s infinite 0.2s;
  }
  
  .cta:hover path.one {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.6s;
  }
  
  .cta:hover path.two {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  
  @keyframes color_anim {
      0% {
          fill: white;
      }
      50% {
          fill: #FBC638;
      }
      100% {
          fill: white;
      }
  }

