
body{
    overflow-y: hidden;
}
.navbar a,
.navbar a:focus {
    color:#0c223d;
}

.header{
    box-shadow: 0px 3px 10px black;
}

.member-tab{
    width: 33.33333%;
    height: 100%;
    opacity: .6;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.member-name{
    opacity: 1.0;
    font-size: 150px;
    transition: all .5s;
}

.member-blurb{
    position: absolute;
    opacity: 0.0;
    transition: all .5s;
    font-size: 40px;
    max-width: 33.333%;
    width: fit-content;
}

#team-container{
    display: flex;
    height: 100%;
    margin-top:100px;
    min-width: 1440px;
    width: 100%;
}